{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'style/blog.css' %}" >
        <script src="{% static 'script/home.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="back-wall">
            <!-- container of list of blogs start -->
            <div class="blogContainer">
                <h1>Popular Blog List</h1>
                {% for item in items%}
                <div class="blog-card">
                    <h2 class="display">{{item.title}}</h2>
                    <p class="lead">Author : {{item.author}}</p>
                    <p class="description">{{item.description}}</p>
                    <a class="btn btn-primary btn-lg" href="/blog/read/{{item.id}}" role="button">Learn more</a>
                  </div><br>
                  {%endfor%}
            </div>
            <!-- container of list of blogs ends -->
        </div>
    </body>
</html>